*.pyc
*_bck*
*.list
*.cbf
!pilatus.cbf
!photon.cbf
*~
*.swp
build/
dist/
*.plt
scale/
[0-9]*/
release/
legacy/
testing/
.project
.pydevproject
*.spyderproject
.spyderworkspace
sdist
test_bin
.eggs
*.egg-info
test*
.tox
.venv
